body {
	height: 100%;
	background-image: url("haaleapisara.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

h2 {
	
	color: #66cccc;
	text-shadow:4px 4px 7px white;
}


.navbar {
	width:100%;
	border-bottom:white;
	background: #66cccc;
}

.navbar-toggler {
	color: black;
	
}

a:hover {
	color:magenta;
	transition: 3s;
}

.nav-link {
	color: white;

}


.navbar-brand { 
	margin-left:10px;
}

.carousel {
	margin-top: 20px;
	padding-top:10px;
}
	
	
.carousel-item img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(100%) ;
}
.row {
	width:100%;
	margin-top: 20px;
}

.smallpic {
	margin-left:40%;
	width:200px;
	
}

.esittely {
	width:80%;
	margin-left:10%;
	margin-right:10%;

}

.content-box {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}
form {
	margin-left:20px;
}	

.textbox {
	margin-left:50px;
}

em {
	color:red;
}

.content-box img {
	margin-left:10%;
	margin-right:10%;
	margin-top:10%;
	margin-bottom:10%;
}
	
.content-box p {
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

.content-box h2 {
	padding-left: 10%;
}

.yhteys {
	padding-top:50px;
}

p {
	color: black;
}

.col-md-4 img {
	width:80%;
	box-shadow:2px 2px 5px grey;
}

.col-md-4 p {
	padding-left:20px;
}
	
.col-md-6 {
	margin-top:10px;
}	

.col-md-8 p {
	margin-top:20px;
	padding:10px;
	border-style: dotted;
	border-color: #ff66ff;
	box-shadow: 3px 3px 7px #ff66ff;
}
.col-md-8 h2 {
	color: #ff66ff;
	text-shadow: 2px 2px 5px #ffccff;
}


.fieldset h2 p {
	margin-left: 30px;
}


footer {
	margin-top: 20px;
	padding:10px;
	height:50px;
	background-color:#66cccc;
	color: white;
	text-align: center;
}